In [1]:
import pandas as pd

In [2]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [3]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [5]:
filter1 = lifeExpectancy[(lifeExpectancy['Period'] == 2019)& (lifeExpectancy['Dim1'] == 'Both sexes')]

In [6]:
filter1

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
2137,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
2149,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
2161,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
2173,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [7]:
filter1['First Tooltip'].min()

50.75

In [8]:
filter1['First Tooltip'].max()

84.26

In [9]:
filter1['First Tooltip'].mean()

72.54049180327873

In [10]:
filter1['First Tooltip'].median()

73.74

In [11]:
filter1['First Tooltip'].std()

7.129956404370866

In [17]:
filter1.sort_values('First Tooltip').head()['Location']

1117                     Lesotho
373     Central African Republic
1801                     Somalia
661                     Eswatini
1333                  Mozambique
Name: Location, dtype: object

In [16]:
filter1.sort_values('First Tooltip').tail()['Location']

1837                Spain
1753            Singapore
1573    Republic of Korea
1897          Switzerland
997                 Japan
Name: Location, dtype: object